In [2]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('/home/admin-groep11/CVMatching-1/data/raw/job_descriptions/job_descriptions.csv')
df1.head()

In [ ]:
df2 = pd.read_csv('/home/admin-groep11/CVMatching-1/data/raw/job_descriptions/job_descriptions2.csv')
df2.head()

In [ ]:
df3 = pd.read_csv('/home/admin-groep11/CVMatching-1/Resume.csv')
df3.head()

In [ ]:
df1.columns

In [ ]:
df2.columns

In [ ]:
df3.columns

In [ ]:
import pandas as pd
import numpy as np

# Laad de datasets in
df_jobs = pd.read_csv('/home/admin-groep11/CVMatching-1/data/raw/job_descriptions/job_descriptions2.csv')
df_resumes = pd.read_csv('/home/admin-groep11/CVMatching-1/Resume.csv')

In [ ]:
# Selecteer relevante kolommen en vul lege waarden (NaN) met een lege string
jobs_df = df_jobs[['Job ID', 'Business Title', 'Job Description', 'Job Category']].fillna('')
resumes_df = df_resumes[['ID', 'Resume_str', 'Category']].fillna('')

# Maak een lege lijst voor de nieuwe gelabelde data
data_list = []

# Loop over elke vacature en elk cv om paren te maken en te labelen
for job_index, job_row in jobs_df.iterrows():
    for resume_index, resume_row in resumes_df.iterrows():
        # Bepaal het label
        # Gebruik de 'Category' van het cv om te matchen met de vacaturetitel
        # We maken hier een vereenvoudigde aanname dat de categorie in de titel of categorie van de vacature staat
        is_match = 0
        job_category_and_title = (job_row['Job Category'] + ' ' + job_row['Business Title']).lower()
        resume_category = resume_row['Category'].lower()
        
        # Controleer of de cv-categorie voorkomt in de vacaturetekst
        if resume_category in job_category_and_title:
            is_match = 1
        
        # Voeg het gelabelde paar toe aan de lijst
        data_list.append({
            'job_id': job_row['Job ID'],
            'resume_id': resume_row['ID'],
            'job_text': job_row['Job Description'],
            'resume_text': resume_row['Resume_str'],
            'label': is_match
        })

# Converteer de lijst naar een pandas DataFrame
labeled_df = pd.DataFrame(data_list)

In [ ]:
# Toon de eerste 5 rijen van de nieuwe dataset
print("Eerste 5 rijen van de gelabelde dataset:")
print(labeled_df.head())

# Toon de verdeling van de labels om te controleren of er matches zijn gevonden
print("\nVerdeling van de labels:")
print(labeled_df['label'].value_counts())

# Sla de nieuwe dataset op
labeled_df.to_csv('gecombineerde_en_gelabelde_data.csv', index=False)

In [3]:
df5 = pd.read_csv("/home/admin-groep11/CVMatching-1/notebooks/gecombineerde_en_gelabelde_data.csv")
df5.head(10)

,job_id,resume_id,job_text,resume_text,label
0,87990,16852973,Division of Economic & Financial Opportunity (...,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,0
1,87990,22323967,Division of Economic & Financial Opportunity (...,"HR SPECIALIST, US HR OPERATIONS ...",0
2,87990,33176873,Division of Economic & Financial Opportunity (...,HR DIRECTOR Summary Over 2...,0
3,87990,27018550,Division of Economic & Financial Opportunity (...,HR SPECIALIST Summary Dedica...,0
4,87990,17812897,Division of Economic & Financial Opportunity (...,HR MANAGER Skill Highlights ...,0
5,87990,11592605,Division of Economic & Financial Opportunity (...,HR GENERALIST Summary Dedic...,0
6,87990,25824789,Division of Economic & Financial Opportunity (...,HR MANAGER Summary HUMAN RES...,0
7,87990,15375009,Division of Economic & Financial Opportunity (...,HR MANAGER Professional Summa...,0
8,87990,11847784,Division of Economic & Financial Opportunity (...,HR SPECIALIST Summary Posses...,0
9,87990,32896934,Division of Economic & Financial Opportunity (...,HR CLERK Summary Translates ...,0