In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/admin-groep11/CVMatching-1/data/raw/Resume.csv")

df_klein = df.sample(frac=0.4, random_state=42)

df_klein.to_csv("/home/admin-groep11/CVMatching-1/data/raw/Resume_short", index=False)

In [3]:
df1 = pd.read_csv('/home/admin-groep11/CVMatching-1/data/raw/job_descriptions/job_descriptions.csv')
df1.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
0,1089843540111562,5 to 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,001-381-930-7517x737,Digital Marketing Specialist,Social Media Manager,Snagajob,Social Media Managers oversee an organizations...,"{'Flexible Spending Accounts (FSAs), Relocatio...","Social media platforms (e.g., Facebook, Twitte...","Manage and grow social media accounts, create ...",Icahn Enterprises,"{""Sector"":""Diversified"",""Industry"":""Diversifie..."
1,398454096642776,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,461-509-4216,Web Developer,Frontend Web Developer,Idealist,Frontend Web Developers design and implement u...,"{'Health Insurance, Retirement Plans, Paid Tim...","HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",PNC Financial Services Group,"{""Sector"":""Financial Services"",""Industry"":""Com..."
2,481640072963533,0 to 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,9687619505,Operations Manager,Quality Control Manager,Jobs2Careers,Quality Control Managers establish and enforce...,"{'Legal Assistance, Bonuses and Incentive Prog...",Quality control processes and methodologies St...,Establish and enforce quality control standard...,United Services Automobile Assn.,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
3,688192671473044,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,+1-820-643-5431x47576,Network Engineer,Wireless Network Engineer,FlexJobs,"Wireless Network Engineers design, implement, ...","{'Transportation Benefits, Professional Develo...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Hess,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
4,117057806156508,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,343.975.4702x9340,Event Manager,Conference Manager,Jobs2Careers,A Conference Manager coordinates and manages c...,"{'Flexible Spending Accounts (FSAs), Relocatio...",Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Cairn Energy,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ..."

In [4]:
df2 = pd.read_csv('/home/admin-groep11/CVMatching-1/data/raw/job_descriptions/job_descriptions2.csv')
df2.head()

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Code No,Level,Job Category,Full-Time/Part-Time indicator,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,87990,DEPARTMENT OF BUSINESS SERV.,Internal,1,Account Manager,CONTRACT REVIEWER (OFFICE OF L,40563,1,,,...,"Salary range for this position is: $42,405 - $...",,,,NaN,New York City residency is generally required ...,2011-06-24T00:00:00,NaN,2011-06-24T00:00:00,2018-07-17T00:00:00
1,97899,DEPARTMENT OF BUSINESS SERV.,Internal,1,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,10009,M3,,F,...,,"In addition to applying through this website, ...",,,NaN,New York City residency is generally required ...,2012-01-26T00:00:00,NaN,2012-01-26T00:00:00,2018-07-17T00:00:00
2,102221,DEPT OF ENVIRONMENT PROTECTION,External,1,Project Specialist,ENVIRONMENTAL ENGINEERING INTE,20616,0,,F,...,Appointments are subject to OMB approval,click the apply now button,35 hours per week/day,,NaN,New York City Residency is not required for th...,2012-06-21T00:00:00,NaN,2012-09-07T00:00:00,2018-07-17T00:00:00
3,102221,DEPT OF ENVIRONMENT PROTECTION,Internal,1,Project Specialist,ENVIRONMENTAL ENGINEERING INTE,20616,0,,F,...,Appointments are subject to OMB approval,click the apply now button,35 hours per week/day,,NaN,New York City Residency is not required for th...,2012-06-21T00:00:00,NaN,2012-09-07T00:00:00,2018-07-17T00:00:00
4,114352,DEPT OF ENVIRONMENT PROTECTION,Internal,5,Deputy Plant Chief,SENIOR STATIONARY ENGINEER (EL,91639,0,,F,...,Appointments are subject to OMB approval Fo...,"Click ""Apply Now"" button",40 per week / day,Various,NaN,New York City residency is generally required ...,2012-12-12T00:00:00,NaN,2012-12-13T00:00:00,2018-07-17T00:00:00

In [5]:
df3 = pd.read_csv('/home/admin-groep11/CVMatching-1/data/raw/Resume.csv')
df3.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [7]:
df1.columns

Index(['Job Id', 'Experience', 'Qualifications', 'Salary Range', 'location',
       'Country', 'latitude', 'longitude', 'Work Type', 'Company Size',
       'Job Posting Date', 'Preference', 'Contact Person', 'Contact',
       'Job Title', 'Role', 'Job Portal', 'Job Description', 'Benefits',
       'skills', 'Responsibilities', 'Company', 'Company Profile'],
      dtype='object')

In [8]:
df2.columns

Index(['Job ID', 'Agency', 'Posting Type', '# Of Positions', 'Business Title',
       'Civil Service Title', 'Title Code No', 'Level', 'Job Category',
       'Full-Time/Part-Time indicator', 'Salary Range From', 'Salary Range To',
       'Salary Frequency', 'Work Location', 'Division/Work Unit',
       'Job Description', 'Minimum Qual Requirements', 'Preferred Skills',
       'Additional Information', 'To Apply', 'Hours/Shift', 'Work Location 1',
       'Recruitment Contact', 'Residency Requirement', 'Posting Date',
       'Post Until', 'Posting Updated', 'Process Date'],
      dtype='object')

In [9]:
df3.columns

Index(['ID', 'Resume_str', 'Resume_html', 'Category'], dtype='object')

In [ ]:
jobs_df = df2[['Job ID', 'Business Title', 'Job Description', 'Job Category']].fillna('')
resumes_df = df3[['ID', 'Resume_str', 'Category']].fillna('')
data_list = []


for job_index, job_row in jobs_df.iterrows():
    for resume_index, resume_row in resumes_df.iterrows():
        is_match = 0
        job_category_and_title = (job_row['Job Category'] + ' ' + job_row['Business Title']).lower()
        resume_category = resume_row['Category'].lower()
        if resume_category in job_category_and_title:
            is_match = 1

        data_list.append({
            'job_id': job_row['Job ID'],
            'resume_id': resume_row['ID'],
            'job_text': job_row['Job Description'],
            'resume_text': resume_row['Resume_str'],
            'label': is_match
        })
labeled_df = pd.DataFrame(data_list)

In [ ]:
print("Eerste 5 rijen van de gelabelde dataset:")
print(labeled_df.head())
print("\nVerdeling van de labels:")
print(labeled_df['label'].value_counts())
labeled_df.to_csv('gelabelde_data.csv', index=False)

In [3]:
df5 = pd.read_csv("/home/admin-groep11/CVMatching-1/notebooks/gecombineerde_en_gelabelde_data.csv")
df5.head(10)

,job_id,resume_id,job_text,resume_text,label
0,87990,16852973,Division of Economic & Financial Opportunity (...,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,0
1,87990,22323967,Division of Economic & Financial Opportunity (...,"HR SPECIALIST, US HR OPERATIONS ...",0
2,87990,33176873,Division of Economic & Financial Opportunity (...,HR DIRECTOR Summary Over 2...,0
3,87990,27018550,Division of Economic & Financial Opportunity (...,HR SPECIALIST Summary Dedica...,0
4,87990,17812897,Division of Economic & Financial Opportunity (...,HR MANAGER Skill Highlights ...,0
5,87990,11592605,Division of Economic & Financial Opportunity (...,HR GENERALIST Summary Dedic...,0
6,87990,25824789,Division of Economic & Financial Opportunity (...,HR MANAGER Summary HUMAN RES...,0
7,87990,15375009,Division of Economic & Financial Opportunity (...,HR MANAGER Professional Summa...,0
8,87990,11847784,Division of Economic & Financial Opportunity (...,HR SPECIALIST Summary Posses...,0
9,87990,32896934,Division of Economic & Financial Opportunity (...,HR CLERK Summary Translates ...,0

In [7]:
df4 = pd.read_csv("/home/admin-groep11/CVMatching-1/data/raw/Resume_short")

In [8]:
# eerste dataset
jobs_df = df2[['Job ID', 'Business Title', 'Job Description', 'Job Category']].fillna('')
resumes_df = df4[['ID', 'Resume_str', 'Category']].fillna('')
data_list = []


for job_index, job_row in jobs_df.iterrows():
    for resume_index, resume_row in resumes_df.iterrows():
        is_match = 0
        job_category_and_title = (job_row['Job Category'] + ' ' + job_row['Business Title']).lower()
        resume_category = resume_row['Category'].lower()
        if resume_category in job_category_and_title:
            is_match = 1

        data_list.append({
            'job_id': job_row['Job ID'],
            'resume_id': resume_row['ID'],
            'job_text': job_row['Job Description'],
            'resume_text': resume_row['Resume_str'],
            'label': is_match
        })
labeled_df = pd.DataFrame(data_list)

In [ ]:
labeled_df1 = pd.DataFrame(data_list)

# opslaan
labeled_df1.to_csv("/home/admin-groep11/CVMatching-1/data/processed/labeled_jobdescription1", index=False, encoding="utf-8")

print("Dataset opgeslagen als labeled_jobs1_resumes.csv")